.button {
    background-color: #7E003E;
    border: none;
    color: #F8F3E7;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
   font-size: 20px;
   border-radius:10px;
  position: absolute;
  left: 44%;
}
.dark{
    color: #4E003E;
}
body {
  background-color:#F8F3E7;
}
#martini{
  float:right;
} 
table{
  font-size: 25px;
  text-align: center;
}
th{
  padding-left: 335px;
}
td{
  padding-left: 50px;
}
#back{
  float: left;
  padding-left: 23%;
}
.topnav {
  overflow: hidden;
  background-color: #EFEADE;
}
.topnav a {
  float: right;
  color:black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #8b4f6d;
}
.topnav a.active {
  color:#7E003F;
}
.topnav b {
  float: left;
  color:#7E003F;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.topnav b:hover {
  background-color: #8b4f6d;
}
.topnav b.active {
  color:#7E003F;
}