@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.ingredient {
    color:black
}

#create {
    margin-left: 2%;
}

#stepOne {
    margin-left: 2%;
    margin-right: 2%;
}

#stepTwo {
    margin-left: 2%;
    margin-right: 2%;
}

#stepThree {
    margin-left: 2%;
    margin-right: 2%;
}
.createTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
.stepBox {
    background-color: #efeade;
    padding: 5%;
    border-radius: 12px;
    outline-color: #beb8aa;
    outline-style:auto;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.libre{
    font-family: 'Libre Caslon Text', serif;
}