.ingredient {
    color:black
}

#create {
    font-size: xx-large;
    color: 
    #7e003f;
    margin-left: 2%;
}

#stepOne {
    font-size: x-large;
    color: #7e003f;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

#stepTwo {
    font-size: x-large;
    color: #7e003f;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

#stepThree {
    font-size: large;
    color: #7e003f;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
}

.stepBox {
    background-color: #efeade;
    padding: 5%;
    border-radius: 12px;
    outline-color: #beb8aa;
    outline-style:auto;
    margin-bottom: 2%;
}

.stepText {
    font-size:large;
    width: 97% !important;
    border-color:linen !important;
    background-color: linen !important;
    border-radius: 12px !important;
}

.stepText:focus {
    outline: none !important;
    border-color: #7e003f !important;
}

.stepText2 {
    font-size: large;
    width: 97% !important;
    border-color:linen
     !important;
    background-color: linen !important;
    border-radius: 12px !important;
}

.stepText2:focus {
    outline: none !important;
    border-color: #7e003f !important;
}

.drinkButton {
    font-size: large;
display: flex;
  padding:5px 15px; 
  background-color: thistle;
  border-color: #7e003f;
  color: #7e003f;
  border-radius: 6px;
  border-width: 2px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.ingredientList {
}

.ingredient {
    padding: 2px;   
}