/* table.drinks{ */
/*     overflow-y:scroll; */ 
/*    height:300px; */ 
/*    width:300px; */ 
/*    display:block; */  
/*    border:1px solid red; */  
/*    margin-top:50px; */    
/*    }th{ */
/*    width:75px; */ 
/*     position:fixed; */ 
/*    background:white; */    
/*    }th:nth-of-type(2){ */
/*     left:75px; */   
/*    }td{ */
/*    width:75px; */    
/*    }tr.individual{ */
/*      height:80px; */ 
/*    } */

#myDrinks {
    display:flex;
    justify-content: center;
    height: 69vh;
    margin-top: 5px;
}

#drinkList {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    max-height: 100%;
    overflow:auto;
}
#drinkList li {
    border: 1px solid blue;
    width: 95%;
    height: 200px;
    margin: 2%;
    padding: 0px;
}

.drinkInfo {
    position:absolute;
    border: 1px solid red;
    height: 100%;
    width: 92%;
    margin-left: 0;
    padding:0;
}

.drinkInfo .name, .rating, .tag {
    /* border: 1px solid yellow; */
    vertical-align: top;
}

.name {
    /* display:inline-block; */
    display:inline;
    float: left;
    text-align: left;
    font-size: 120%;
    min-width: 20%;
    max-width: 60%;
    word-wrap: break-word;
}

.rating {
    /* display: inline-block; */
    display: inline;
    float:left;
    text-align: left;
    font-size: 69%;
    padding-left: 5%;
}

.tag {
    float: right;
    text-align: right;
    font-size: 80%;
    width: 20%;
}

.ingredients {
    vertical-align: bottom;
    font-size: 90%;
    word-wrap: break-word;
}

