@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.button {
    background-color: #7E003E;
    border: none;
    color: #F8F3E7;
    padding: 15px 20px;
    text-align: right;
    text-decoration: none;
   font-size: 20px;
   border-radius:10px;
  position: absolute;
  left: 54%;
}

.fil{
  color: #F8F3E7;
  background-color: #B46B89;
  border: none;
  border-radius: 12px;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  padding: 5px 15px;

}
.drinkList{
  color: #664E4C;
}
.drinkListTitle{
  color: #664E4C;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
.drinkListBox{
  background-color: #EFEADE;
  border: 0.1em solid #7E003E;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.drinkListPad{
  padding: 10px;
}

table{
    padding: 15px 20px;
    top: 40;
    font-size: 20px;
    text-align: left;
    position: absolute;
    left: 4%;
}

td, th {
    padding: 15px;
    text-align: left;
    height: 20px;
  }

  .buttonOther{
    background-color: #7E003E;
    border: none;
    color: #F8F3E7;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius:10px;
    position: absolute;
    left: 105%;
  }
  
