.resize {
    width:500px; /* you can use % */
    height: auto;
    text-align: center;
    padding-top: 20%;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.libre{
    font-family: 'Libre Caslon Text', serif;
}