.App {
  text-align: center;
  color: #7e003f;
  /* font-family:'Franklin Gothic Medium' , 'Arial Narrow', Arial, sans-serif; */
  font-family: "Montserrat";
}

body {
    margin:0;
    padding:0;
    /* background-color: #f7f3e7; */
    background-color: #EBE7DB;
}

a {
    color: #614A48;
    text-decoration: none;
}

/*logInAccount CSS  */
.boxLogInAccount {
  background-color: #f4ebe1;
  border-radius: 12px;
  padding-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.row {
  display: flex;
  margin-top: 2%;
}

.columnLeft {
  flex: 50%;
}

.columnRight {
  flex: 50%;
  text-align: left;
}

.loginTitle {
  color: #664e4c !important;
  text-align: left;
  font-size: 50px;
  margin-top: 10%;
}

.username {
  text-align: left;
  color: black;
}

.password {
  text-align: left;
  color: black;
}

.formBottom {
  margin-top: 5%
}

.loginButton {
  margin-top: 10%;
  text-align: center;
  width: 85%;
}

.loginConfirm {
  background-color: #7e003f;
  /* color: #e1c3d2; */
  color: white;
  border: none;
  padding: 15px 50px;
  font-size: 16px;
  font-weight: bold;
  /* width: 25%; */
  
  border-radius: 12px;
}

.forgetAccount {
  text-align: left;
  margin-top: 10%;
  color: black;
}

input[type="text"] {
  width: 80%;
  height: 30px;
  border: none;
}

input[type="password"] {
  width: 80%;
  height: 30px;
  border: none;
}

/* viewDrinks CSS  */
.pageTitle {
  text-align: left;
  color: #664e4c;
}

.rowViewDrinks {
  display: flex;
  margin-top: 2%;
  margin-left: 10%;
}

.columnLeftViewDrinks {
  margin-right: 10%;
}

.columnRightViewDrinks {
  
}

.likeCount {
  color: #664e4c;
}

.ingredientsList {
  text-align: left;
  margin-left: 10%;
  color: #664e4c;
}

.garnishList {
  text-align: left;
  margin-left: 10%;
  color: #664e4c;
}

.instructionsList {
  text-align: left;
  margin-left: 10%;
  color: #664e4c;
}

.addToFavouritesConfirm {
  background-color: #7e003f;
  color: #e1c3d2;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  width: 12%;
  border-radius: 12px;
  margin-top: 2%;
}

.viewDrinksContainer {
  margin-left: 10%;
  margin-right: 20%;
}

.drinksTag {
  text-align: right;
  color: #993362 !important;
  border-radius: 12px !important;
}

.alcoholicTag {
  display: inline;
  background-color: #e0c1c5;
  border: 5px solid #993362;
  border-radius: 12px;
}

button[type=submit] {
  display: flex;
  padding:5px 15px; 
  background-color: #7e003f;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: white;
}

/* .navbar-item-c { */
/*   /1* display:inline-block; *1/ */
/*   float:right */
/* } */

/* .navbar-item-r { */
/*   float:right */
/* } */

/* .navbar-item-l { */
/*   float:left */
/* } */

/* .navbar { */
/*   list-style-type: none; */
/*   margin: 0; */
/*   padding: 0; */
/*   overflow: hidden; */
/*   /1* background-color:#f7f3e7; *1/ */
/*   background-color:#EBE7DB; */
/* } */
