@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.resize {
    width:500px; /* you can use % */
    height: auto;
    text-align: center;
    padding-top: 20%;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.libre{
    font-family: 'Libre Caslon Text', serif;
}